.section {
  width: 100%;

  display: flex;

  font-size: 2rem;

  &.backgroundWhite {
    background-color: #fff;
  }
  &.backgroundGray800 {
    background-color: #f8f9f9;
  }

  &.backgroundBlack {
    background-color: #000000;
  }

  &.backgroundTransparent {
    background-color: transparent;
  }

  &.noPadding {
    padding: 0;
  }

  .content {
    width: 87%;
    max-width: 1200px;

    margin: 0 auto;
  }

  .fullWidth {
    width: 100%;
  }
}
